http://{$CADDY_HOSTNAME:localhost}:8080 {
	bind 0.0.0.0
	redir https://{$CADDY_HOSTNAME:localhost}:8443{uri} 308
}

https://{$CADDY_HOSTNAME:localhost}:8443 {
	bind 0.0.0.0
	tls internal
	root * /srv/dashboard
	encode gzip

	handle /api/* {
		reverse_proxy control-api:8000
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
